{% extends "base.html" %}

{% block title %}AI Invoice Generator{% endblock %}

{% block content %}

<div class="container">
    <h1>AI Invoice Generator</h1>
    <p>Use the form below to generate an invoice using AI.<br>( Client,price,date,due_date )</p>

    <form method="POST">
            <div>
                <div class="mb-3">
  <label for="invoice_description" class="form-label">Popis faktúry</label>
  <textarea 
    id="invoice_description"
    name="invoice_description"
    class="form-control"
    rows="4"
    placeholder="Zadaj popis faktúry, napríklad: Dodávka a montáž elektroinštalácie v administratívnej budove G&F Elektro, 10 hodín práce a 2 elektromateriály."
    required
  ></textarea>
</div>

                <button type="submit">Generate invoice</button>
            </div>
    </form>
{% endblock %}