{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2>Welcome, {{ current_user.username }} 👋</h2>
<a href="{{ url_for('main.create_checkout_session') }}" class="btn btn-success">Získať predplatné</a>

  <div class="row mt-4">
    <div class="col-md-6">
      <a href="{{ url_for('main.add_invoice') }}" class="btn btn-primary btn-lg w-100 mb-3">
        ➕ Create New Invoice
      </a>
    </div>
    <div class="col-md-6">
      <a href="{{ url_for('main.list_invoices') }}" class="btn btn-outline-secondary btn-lg w-100 mb-3">
        📄 View All Invoices
      </a>
    </div>
  </div>

  <hr>

  <h4 class="mt-4">Recent Invoices</h4>
  {% if invoices %}
    <table class="table table-striped mt-2">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Client</th>
          <th>Date</th>
          <th>Total</th>
          <th>Dátum splatnosti</th>
          <th>Status</th>
          <th>Zobraziť faktúru</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.invoice_number }}</td>
          <td>{{ invoice.client.name }}</td>
          <td>{{ invoice.date.strftime('%d.%m.%Y') }}</td>
          <td>{{ "%.2f"|format(invoice.total_cost) }} {{ invoice.currency }}</td>
           <td>
          {{ invoice.due_date.strftime('%d.%m.%Y') }}
           </td>

          <td>
          {% if invoice.status == InvoiceStatus.paid %}
              <span class="badge bg-success">Zaplatené</span>
          {% elif invoice.is_overdue %}
              <span class="badge bg-danger">Po splatnosti: {{ invoice.days_overdue }} dni</span>
          {% else %}
              <span class="badge bg-warning">Splatnosť o {{ invoice.days_until_due }} dní</span>
          {% endif %}
                  </td>
          
          <td>
            <a href="{{ url_for('main.view_invoice', invoice_id=invoice.id) }}" class="btn btn-sm btn-outline-info">Zobraziť</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<h2>Revenue Chart</h2>
<img src="{{ url_for('main.dashboard_graph') }}" alt="Revenue per month">



  {% else %}
    <p>No invoices created yet.</p>
  {% endif %}
</div>
{% endblock %}
