{% extends "base.html" %}

{% block title %}Faktúry{% endblock %}

{% block styles %}
    <style>
        .invoices-list {
            margin-top: 20px;
        }
        .invoice {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Faktúry</h1>
    <input type="text" id="invoiceSearch" class="form-control mb-3" placeholder="Hľadaj faktúru podľa čísla, klienta alebo dátumu">

    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    <div class="invoicesList">
    {% for invoice in invoices %}
        <div class="invoice mb-4 p-3 border rounded">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-9">
                    <p>Dátum vystavenia: {{ invoice.date.strftime('%d.%m.%Y') }}</p>
                    <h2>Faktúra č. {{ invoice.invoice_number }}</h2>
                    <p>Klient: {{ invoice.client.name }}</p>
                    <p>Dátum splatnosti: {{ invoice.due_date.strftime('%d.%m.%Y') }}</p>
                    <p>Popis služby: {{ invoice.description }}</p>
                    <p>Množstvo: {{ invoice.quantity }}</p>
                    <p>Cena za MJ: {{ invoice.price_per_item }}</p>
                    <p>Jednotka: {{ invoice.unit }}</p>
                    <p>Mena: {{ invoice.currency }}</p>
                </div>

                <!-- Right column -->
                <div class="col-md-3 d-flex align-items-start justify-content-end">
                    <a href="{{ url_for('main.view_invoice', invoice_id=invoice.id) }}" class="btn btn-primary mt-2">
                        Zobraziť faktúru
                    </a>
                    
                    <form method="POST" action="{{ url_for('main.delete_invoice', invoice_id=invoice.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger mt-2 ms-2" onclick="return confirm('Ste si istý, že chcete zmazať túto faktúru?');">
                            Zmazať
                        </button>
                </div>
            </div>
        </div>
    {% else %}
        <p>Žiadne faktúry.</p>
    {% endfor %}
</div>

<script>
document.getElementById('invoiceSearch').addEventListener('input', function() {
    const searchValue = this.value.toLowerCase();
    const invoices = document.querySelectorAll('#invoicesList .invoice');

    invoices.forEach(invoice => {
        const text = invoice.textContent.toLowerCase();
        if (text.includes(searchValue)) {
            invoice.style.display = '';
        } else {
            invoice.style.display = 'none';
        }
    });
});
</script>

{% endblock %}